.super-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background-color: #000000;
    background-image: url("https://i.redd.it/90nv37logijy.jpg");
}

h2{
    display: flex;
    justify-content: center;
}



.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000000;
    background-color: magenta;
    border-radius: 10px;
    max-width: 50vm;
    min-width: 10vm;
    flex-basis: 50%;
    height: 25vh;
    box-shadow: 17px 10px 64px 8px rgba(0,0,0,0.75);
}


.log-in-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: space-between;
}

.box{
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
}


#submit{
    border-radius: 10px;
}